In [1]:
import numpy as np
import pandas as pd
import sqlalchemy as sa
import pickle, json, requests, base64

## Build a scikit-learn model

In [2]:
from sklearn import datasets

iris = datasets.load_iris()
X = iris.data  
Y = iris.target
# print(iris.DESCR)

In [3]:
import xgboost as xgb
clf = xgb.XGBClassifier(n_estimators=5, min_child_weight=10, max_depth=3, seed=1960);

clf.fit(X, Y)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=10, missing=None, n_estimators=5,
       n_jobs=1, nthread=None, objective='multi:softprob', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=1960,
       silent=True, subsample=1)

In [4]:
#clf.__dict__

## Generate SQL Code from the Model

In [5]:

def test_ws_sql_gen(pickle_data):
    WS_URL="https://sklearn2sql.herokuapp.com/model"
    b64_data = base64.b64encode(pickle_data)
    data={"Name":"model1", "PickleData":b64_data , "SQLDialect":"postgresql"}
    r = requests.post(WS_URL, json=data)
    #print(r)
    content = r.json()
    #print(content)
    lSQL = content["model"]["SQLGenrationResult"][0]["SQL"]
    return lSQL;

In [6]:
pickle_data = pickle.dumps(clf)
lSQL = test_ws_sql_gen(pickle_data)
print(lSQL)

WITH "DT_node_lookup" AS
(SELECT "ADS"."KEY" AS "KEY", CASE WHEN ("ADS"."Feature_2" < 2.450000047683716) THEN 1 ELSE 2 END AS node_id_2
FROM "INPUT_DATA" AS "ADS"),
"DT_node_data" AS
(SELECT "Values".node_id AS node_id, "Values".feature AS feature, "Values".threshold AS threshold, "Values".depth AS depth, "Values".parent_id AS parent_id, "Values"."Score" AS "Score"
FROM (SELECT 0 AS node_id, 'Feature_2' AS feature, 2.450000047683716 AS threshold, 0 AS depth, CAST(NULL AS INTEGER) AS parent_id, 0.0 AS "Score" UNION ALL SELECT 1 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 1 AS depth, 0 AS parent_id, 0.1435406655073166 AS "Score" UNION ALL SELECT 2 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 1 AS depth, 0 AS parent_id, -0.07334963977336884 AS "Score") AS "Values"),
"DT_Output" AS
(SELECT "DT_node_lookup"."KEY" AS "KEY", "DT_node_lookup".node_id_2 AS node_id_2, "DT_node_data".node_id AS node_id, "DT_node_data".feature AS feature, "DT_node_data".threshold AS threshold, "DT_node_data".depth AS depth, "DT_node_data".parent_id AS parent_id, "DT_node_data"."Score" AS "Score"
FROM "DT_node_lookup" LEFT OUTER JOIN "DT_node_data" ON "DT_node_lookup".node_id_2 = "DT_node_data".node_id),
"XGB_Tree_0_0" AS
(SELECT "DT_Output"."KEY" AS "KEY", "DT_Output"."Score" AS "Score_0", 0.0 AS "Score_1", 0.0 AS "Score_2"
FROM "DT_Output"),
"DT_node_lookup_1" AS
(SELECT "ADS"."KEY" AS "KEY", CASE WHEN ("ADS"."Feature_2" < 2.450000047683716) THEN 1 ELSE CASE WHEN ("ADS"."Feature_3" < 1.75) THEN 3 ELSE 4 END END AS node_id_2
FROM "INPUT_DATA" AS "ADS"),
"DT_node_data_1" AS
(SELECT "Values".node_id AS node_id, "Values".feature AS feature, "Values".threshold AS threshold, "Values".depth AS depth, "Values".parent_id AS parent_id, "Values"."Score" AS "Score"
FROM (SELECT 0 AS node_id, 'Feature_2' AS feature, 2.450000047683716 AS threshold, 0 AS depth, CAST(NULL AS INTEGER) AS parent_id, 0.0 AS "Score" UNION ALL SELECT 1 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 1 AS depth, 0 AS parent_id, -0.07177034020423889 AS "Score" UNION ALL SELECT 2 AS node_id, 'Feature_3' AS feature, 1.75 AS threshold, 1 AS depth, 0 AS parent_id, 0.0 AS "Score" UNION ALL SELECT 3 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 2 AS depth, 2 AS parent_id, 0.12400000542402267 AS "Score" UNION ALL SELECT 4 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 2 AS depth, 2 AS parent_id, -0.06683938950300217 AS "Score") AS "Values"),
"DT_Output_1" AS
(SELECT "DT_node_lookup_1"."KEY" AS "KEY", "DT_node_lookup_1".node_id_2 AS node_id_2, "DT_node_data_1".node_id AS node_id, "DT_node_data_1".feature AS feature, "DT_node_data_1".threshold AS threshold, "DT_node_data_1".depth AS depth, "DT_node_data_1".parent_id AS parent_id, "DT_node_data_1"."Score" AS "Score"
FROM "DT_node_lookup_1" LEFT OUTER JOIN "DT_node_data_1" ON "DT_node_lookup_1".node_id_2 = "DT_node_data_1".node_id),
"XGB_Tree_1_0" AS
(SELECT "DT_Output_1"."KEY" AS "KEY", 0.0 AS "Score_0", "DT_Output_1"."Score" AS "Score_1", 0.0 AS "Score_2"
FROM "DT_Output_1"),
"DT_node_lookup_2" AS
(SELECT "ADS"."KEY" AS "KEY", CASE WHEN ("ADS"."Feature_3" < 1.6500000953674316) THEN CASE WHEN ("ADS"."Feature_2" < 4.449999809265137) THEN 3 ELSE 4 END ELSE 2 END AS node_id_2
FROM "INPUT_DATA" AS "ADS"),
"DT_node_data_2" AS
(SELECT "Values".node_id AS node_id, "Values".feature AS feature, "Values".threshold AS threshold, "Values".depth AS depth, "Values".parent_id AS parent_id, "Values"."Score" AS "Score"
FROM (SELECT 0 AS node_id, 'Feature_3' AS feature, 1.6500000953674316 AS threshold, 0 AS depth, CAST(NULL AS INTEGER) AS parent_id, 0.0 AS "Score" UNION ALL SELECT 1 AS node_id, 'Feature_2' AS feature, 4.449999809265137 AS threshold, 1 AS depth, 0 AS parent_id, 0.0 AS "Score" UNION ALL SELECT 2 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 1 AS depth, 0 AS parent_id, 0.13432835042476654 AS "Score" UNION ALL SELECT 3 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 2 AS depth, 1 AS parent_id, -0.07292308658361435 AS "Score" UNION ALL SELECT 4 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 2 AS depth, 1 AS parent_id, -0.032673273235559464 AS "Score") AS "Values"),
"DT_Output_2" AS
(SELECT "DT_node_lookup_2"."KEY" AS "KEY", "DT_node_lookup_2".node_id_2 AS node_id_2, "DT_node_data_2".node_id AS node_id, "DT_node_data_2".feature AS feature, "DT_node_data_2".threshold AS threshold, "DT_node_data_2".depth AS depth, "DT_node_data_2".parent_id AS parent_id, "DT_node_data_2"."Score" AS "Score"
FROM "DT_node_lookup_2" LEFT OUTER JOIN "DT_node_data_2" ON "DT_node_lookup_2".node_id_2 = "DT_node_data_2".node_id),
"XGB_Tree_2_0" AS
(SELECT "DT_Output_2"."KEY" AS "KEY", 0.0 AS "Score_0", 0.0 AS "Score_1", "DT_Output_2"."Score" AS "Score_2"
FROM "DT_Output_2"),
"DT_node_lookup_3" AS
(SELECT "ADS"."KEY" AS "KEY", CASE WHEN ("ADS"."Feature_2" < 2.450000047683716) THEN 1 ELSE 2 END AS node_id_2
FROM "INPUT_DATA" AS "ADS"),
"DT_node_data_3" AS
(SELECT "Values".node_id AS node_id, "Values".feature AS feature, "Values".threshold AS threshold, "Values".depth AS depth, "Values".parent_id AS parent_id, "Values"."Score" AS "Score"
FROM (SELECT 0 AS node_id, 'Feature_2' AS feature, 2.450000047683716 AS threshold, 0 AS depth, CAST(NULL AS INTEGER) AS parent_id, 0.0 AS "Score" UNION ALL SELECT 1 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 1 AS depth, 0 AS parent_id, 0.12528058886528015 AS "Score" UNION ALL SELECT 2 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 1 AS depth, 0 AS parent_id, -0.07065892219543457 AS "Score") AS "Values"),
"DT_Output_3" AS
(SELECT "DT_node_lookup_3"."KEY" AS "KEY", "DT_node_lookup_3".node_id_2 AS node_id_2, "DT_node_data_3".node_id AS node_id, "DT_node_data_3".feature AS feature, "DT_node_data_3".threshold AS threshold, "DT_node_data_3".depth AS depth, "DT_node_data_3".parent_id AS parent_id, "DT_node_data_3"."Score" AS "Score"
FROM "DT_node_lookup_3" LEFT OUTER JOIN "DT_node_data_3" ON "DT_node_lookup_3".node_id_2 = "DT_node_data_3".node_id),
"XGB_Tree_0_1" AS
(SELECT "DT_Output_3"."KEY" AS "KEY", "DT_Output_3"."Score" AS "Score_0", 0.0 AS "Score_1", 0.0 AS "Score_2"
FROM "DT_Output_3"),
"DT_node_lookup_4" AS
(SELECT "ADS"."KEY" AS "KEY", CASE WHEN ("ADS"."Feature_2" < 2.450000047683716) THEN 1 ELSE CASE WHEN ("ADS"."Feature_3" < 1.75) THEN 3 ELSE 4 END END AS node_id_2
FROM "INPUT_DATA" AS "ADS"),
"DT_node_data_4" AS
(SELECT "Values".node_id AS node_id, "Values".feature AS feature, "Values".threshold AS threshold, "Values".depth AS depth, "Values".parent_id AS parent_id, "Values"."Score" AS "Score"
FROM (SELECT 0 AS node_id, 'Feature_2' AS feature, 2.450000047683716 AS threshold, 0 AS depth, CAST(NULL AS INTEGER) AS parent_id, 0.0 AS "Score" UNION ALL SELECT 1 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 1 AS depth, 0 AS parent_id, -0.06909295171499252 AS "Score" UNION ALL SELECT 2 AS node_id, 'Feature_3' AS feature, 1.75 AS threshold, 1 AS depth, 0 AS parent_id, 0.0 AS "Score" UNION ALL SELECT 3 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 2 AS depth, 2 AS parent_id, 0.1091129332780838 AS "Score" UNION ALL SELECT 4 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 2 AS depth, 2 AS parent_id, -0.06422777473926544 AS "Score") AS "Values"),
"DT_Output_4" AS
(SELECT "DT_node_lookup_4"."KEY" AS "KEY", "DT_node_lookup_4".node_id_2 AS node_id_2, "DT_node_data_4".node_id AS node_id, "DT_node_data_4".feature AS feature, "DT_node_data_4".threshold AS threshold, "DT_node_data_4".depth AS depth, "DT_node_data_4".parent_id AS parent_id, "DT_node_data_4"."Score" AS "Score"
FROM "DT_node_lookup_4" LEFT OUTER JOIN "DT_node_data_4" ON "DT_node_lookup_4".node_id_2 = "DT_node_data_4".node_id),
"XGB_Tree_1_1" AS
(SELECT "DT_Output_4"."KEY" AS "KEY", 0.0 AS "Score_0", "DT_Output_4"."Score" AS "Score_1", 0.0 AS "Score_2"
FROM "DT_Output_4"),
"DT_node_lookup_5" AS
(SELECT "ADS"."KEY" AS "KEY", CASE WHEN ("ADS"."Feature_2" < 4.75) THEN 1 ELSE CASE WHEN ("ADS"."Feature_2" < 5.25) THEN 3 ELSE 4 END END AS node_id_2
FROM "INPUT_DATA" AS "ADS"),
"DT_node_data_5" AS
(SELECT "Values".node_id AS node_id, "Values".feature AS feature, "Values".threshold AS threshold, "Values".depth AS depth, "Values".parent_id AS parent_id, "Values"."Score" AS "Score"
FROM (SELECT 0 AS node_id, 'Feature_2' AS feature, 4.75 AS threshold, 0 AS depth, CAST(NULL AS INTEGER) AS parent_id, 0.0 AS "Score" UNION ALL SELECT 1 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 1 AS depth, 0 AS parent_id, -0.06848648935556412 AS "Score" UNION ALL SELECT 2 AS node_id, 'Feature_2' AS feature, 5.25 AS threshold, 1 AS depth, 0 AS parent_id, 0.0 AS "Score" UNION ALL SELECT 3 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 2 AS depth, 2 AS parent_id, 0.07445184141397476 AS "Score" UNION ALL SELECT 4 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 2 AS depth, 2 AS parent_id, 0.1246538758277893 AS "Score") AS "Values"),
"DT_Output_5" AS
(SELECT "DT_node_lookup_5"."KEY" AS "KEY", "DT_node_lookup_5".node_id_2 AS node_id_2, "DT_node_data_5".node_id AS node_id, "DT_node_data_5".feature AS feature, "DT_node_data_5".threshold AS threshold, "DT_node_data_5".depth AS depth, "DT_node_data_5".parent_id AS parent_id, "DT_node_data_5"."Score" AS "Score"
FROM "DT_node_lookup_5" LEFT OUTER JOIN "DT_node_data_5" ON "DT_node_lookup_5".node_id_2 = "DT_node_data_5".node_id),
"XGB_Tree_2_1" AS
(SELECT "DT_Output_5"."KEY" AS "KEY", 0.0 AS "Score_0", 0.0 AS "Score_1", "DT_Output_5"."Score" AS "Score_2"
FROM "DT_Output_5"),
"DT_node_lookup_6" AS
(SELECT "ADS"."KEY" AS "KEY", CASE WHEN ("ADS"."Feature_2" < 2.450000047683716) THEN 1 ELSE 2 END AS node_id_2
FROM "INPUT_DATA" AS "ADS"),
"DT_node_data_6" AS
(SELECT "Values".node_id AS node_id, "Values".feature AS feature, "Values".threshold AS threshold, "Values".depth AS depth, "Values".parent_id AS parent_id, "Values"."Score" AS "Score"
FROM (SELECT 0 AS node_id, 'Feature_2' AS feature, 2.450000047683716 AS threshold, 0 AS depth, CAST(NULL AS INTEGER) AS parent_id, 0.0 AS "Score" UNION ALL SELECT 1 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 1 AS depth, 0 AS parent_id, 0.11180535703897476 AS "Score" UNION ALL SELECT 2 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 1 AS depth, 0 AS parent_id, -0.0683378353714943 AS "Score") AS "Values"),
"DT_Output_6" AS
(SELECT "DT_node_lookup_6"."KEY" AS "KEY", "DT_node_lookup_6".node_id_2 AS node_id_2, "DT_node_data_6".node_id AS node_id, "DT_node_data_6".feature AS feature, "DT_node_data_6".threshold AS threshold, "DT_node_data_6".depth AS depth, "DT_node_data_6".parent_id AS parent_id, "DT_node_data_6"."Score" AS "Score"
FROM "DT_node_lookup_6" LEFT OUTER JOIN "DT_node_data_6" ON "DT_node_lookup_6".node_id_2 = "DT_node_data_6".node_id),
"XGB_Tree_0_2" AS
(SELECT "DT_Output_6"."KEY" AS "KEY", "DT_Output_6"."Score" AS "Score_0", 0.0 AS "Score_1", 0.0 AS "Score_2"
FROM "DT_Output_6"),
"DT_node_lookup_7" AS
(SELECT "ADS"."KEY" AS "KEY", CASE WHEN ("ADS"."Feature_2" < 2.450000047683716) THEN 1 ELSE CASE WHEN ("ADS"."Feature_3" < 1.75) THEN 3 ELSE 4 END END AS node_id_2
FROM "INPUT_DATA" AS "ADS"),
"DT_node_data_7" AS
(SELECT "Values".node_id AS node_id, "Values".feature AS feature, "Values".threshold AS threshold, "Values".depth AS depth, "Values".parent_id AS parent_id, "Values"."Score" AS "Score"
FROM (SELECT 0 AS node_id, 'Feature_2' AS feature, 2.450000047683716 AS threshold, 0 AS depth, CAST(NULL AS INTEGER) AS parent_id, 0.0 AS "Score" UNION ALL SELECT 1 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 1 AS depth, 0 AS parent_id, -0.06668302416801453 AS "Score" UNION ALL SELECT 2 AS node_id, 'Feature_3' AS feature, 1.75 AS threshold, 1 AS depth, 0 AS parent_id, 0.0 AS "Score" UNION ALL SELECT 3 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 2 AS depth, 2 AS parent_id, 0.09774588793516159 AS "Score" UNION ALL SELECT 4 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 2 AS depth, 2 AS parent_id, -0.061968982219696045 AS "Score") AS "Values"),
"DT_Output_7" AS
(SELECT "DT_node_lookup_7"."KEY" AS "KEY", "DT_node_lookup_7".node_id_2 AS node_id_2, "DT_node_data_7".node_id AS node_id, "DT_node_data_7".feature AS feature, "DT_node_data_7".threshold AS threshold, "DT_node_data_7".depth AS depth, "DT_node_data_7".parent_id AS parent_id, "DT_node_data_7"."Score" AS "Score"
FROM "DT_node_lookup_7" LEFT OUTER JOIN "DT_node_data_7" ON "DT_node_lookup_7".node_id_2 = "DT_node_data_7".node_id),
"XGB_Tree_1_2" AS
(SELECT "DT_Output_7"."KEY" AS "KEY", 0.0 AS "Score_0", "DT_Output_7"."Score" AS "Score_1", 0.0 AS "Score_2"
FROM "DT_Output_7"),
"DT_node_lookup_8" AS
(SELECT "ADS"."KEY" AS "KEY", CASE WHEN ("ADS"."Feature_2" < 4.75) THEN 1 ELSE CASE WHEN ("ADS"."Feature_2" < 5.25) THEN 3 ELSE 4 END END AS node_id_2
FROM "INPUT_DATA" AS "ADS"),
"DT_node_data_8" AS
(SELECT "Values".node_id AS node_id, "Values".feature AS feature, "Values".threshold AS threshold, "Values".depth AS depth, "Values".parent_id AS parent_id, "Values"."Score" AS "Score"
FROM (SELECT 0 AS node_id, 'Feature_2' AS feature, 4.75 AS threshold, 0 AS depth, CAST(NULL AS INTEGER) AS parent_id, 0.0 AS "Score" UNION ALL SELECT 1 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 1 AS depth, 0 AS parent_id, -0.06608983129262924 AS "Score" UNION ALL SELECT 2 AS node_id, 'Feature_2' AS feature, 5.25 AS threshold, 1 AS depth, 0 AS parent_id, 0.0 AS "Score" UNION ALL SELECT 3 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 2 AS depth, 2 AS parent_id, 0.06764546036720276 AS "Score" UNION ALL SELECT 4 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 2 AS depth, 2 AS parent_id, 0.11180507391691208 AS "Score") AS "Values"),
"DT_Output_8" AS
(SELECT "DT_node_lookup_8"."KEY" AS "KEY", "DT_node_lookup_8".node_id_2 AS node_id_2, "DT_node_data_8".node_id AS node_id, "DT_node_data_8".feature AS feature, "DT_node_data_8".threshold AS threshold, "DT_node_data_8".depth AS depth, "DT_node_data_8".parent_id AS parent_id, "DT_node_data_8"."Score" AS "Score"
FROM "DT_node_lookup_8" LEFT OUTER JOIN "DT_node_data_8" ON "DT_node_lookup_8".node_id_2 = "DT_node_data_8".node_id),
"XGB_Tree_2_2" AS
(SELECT "DT_Output_8"."KEY" AS "KEY", 0.0 AS "Score_0", 0.0 AS "Score_1", "DT_Output_8"."Score" AS "Score_2"
FROM "DT_Output_8"),
"DT_node_lookup_9" AS
(SELECT "ADS"."KEY" AS "KEY", CASE WHEN ("ADS"."Feature_2" < 2.450000047683716) THEN 1 ELSE 2 END AS node_id_2
FROM "INPUT_DATA" AS "ADS"),
"DT_node_data_9" AS
(SELECT "Values".node_id AS node_id, "Values".feature AS feature, "Values".threshold AS threshold, "Values".depth AS depth, "Values".parent_id AS parent_id, "Values"."Score" AS "Score"
FROM (SELECT 0 AS node_id, 'Feature_2' AS feature, 2.450000047683716 AS threshold, 0 AS depth, CAST(NULL AS INTEGER) AS parent_id, 0.0 AS "Score" UNION ALL SELECT 1 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 1 AS depth, 0 AS parent_id, 0.10146558284759521 AS "Score" UNION ALL SELECT 2 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 1 AS depth, 0 AS parent_id, -0.06628992408514023 AS "Score") AS "Values"),
"DT_Output_9" AS
(SELECT "DT_node_lookup_9"."KEY" AS "KEY", "DT_node_lookup_9".node_id_2 AS node_id_2, "DT_node_data_9".node_id AS node_id, "DT_node_data_9".feature AS feature, "DT_node_data_9".threshold AS threshold, "DT_node_data_9".depth AS depth, "DT_node_data_9".parent_id AS parent_id, "DT_node_data_9"."Score" AS "Score"
FROM "DT_node_lookup_9" LEFT OUTER JOIN "DT_node_data_9" ON "DT_node_lookup_9".node_id_2 = "DT_node_data_9".node_id),
"XGB_Tree_0_3" AS
(SELECT "DT_Output_9"."KEY" AS "KEY", "DT_Output_9"."Score" AS "Score_0", 0.0 AS "Score_1", 0.0 AS "Score_2"
FROM "DT_Output_9"),
"DT_node_lookup_10" AS
(SELECT "ADS"."KEY" AS "KEY", CASE WHEN ("ADS"."Feature_2" < 2.450000047683716) THEN 1 ELSE CASE WHEN ("ADS"."Feature_3" < 1.75) THEN CASE WHEN ("ADS"."Feature_2" < 4.449999809265137) THEN 5 ELSE 6 END ELSE 4 END END AS node_id_2
FROM "INPUT_DATA" AS "ADS"),
"DT_node_data_10" AS
(SELECT "Values".node_id AS node_id, "Values".feature AS feature, "Values".threshold AS threshold, "Values".depth AS depth, "Values".parent_id AS parent_id, "Values"."Score" AS "Score"
FROM (SELECT 0 AS node_id, 'Feature_2' AS feature, 2.450000047683716 AS threshold, 0 AS depth, CAST(NULL AS INTEGER) AS parent_id, 0.0 AS "Score" UNION ALL SELECT 1 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 1 AS depth, 0 AS parent_id, -0.06452437490224838 AS "Score" UNION ALL SELECT 2 AS node_id, 'Feature_3' AS feature, 1.75 AS threshold, 1 AS depth, 0 AS parent_id, 0.0 AS "Score" UNION ALL SELECT 3 AS node_id, 'Feature_2' AS feature, 4.449999809265137 AS threshold, 2 AS depth, 2 AS parent_id, 0.0 AS "Score" UNION ALL SELECT 4 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 2 AS depth, 2 AS parent_id, -0.0598713755607605 AS "Score" UNION ALL SELECT 5 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 3 AS depth, 3 AS parent_id, 0.10120894014835358 AS "Score" UNION ALL SELECT 6 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 3 AS depth, 3 AS parent_id, 0.06754425913095474 AS "Score") AS "Values"),
"DT_Output_10" AS
(SELECT "DT_node_lookup_10"."KEY" AS "KEY", "DT_node_lookup_10".node_id_2 AS node_id_2, "DT_node_data_10".node_id AS node_id, "DT_node_data_10".feature AS feature, "DT_node_data_10".threshold AS threshold, "DT_node_data_10".depth AS depth, "DT_node_data_10".parent_id AS parent_id, "DT_node_data_10"."Score" AS "Score"
FROM "DT_node_lookup_10" LEFT OUTER JOIN "DT_node_data_10" ON "DT_node_lookup_10".node_id_2 = "DT_node_data_10".node_id),
"XGB_Tree_1_3" AS
(SELECT "DT_Output_10"."KEY" AS "KEY", 0.0 AS "Score_0", "DT_Output_10"."Score" AS "Score_1", 0.0 AS "Score_2"
FROM "DT_Output_10"),
"DT_node_lookup_11" AS
(SELECT "ADS"."KEY" AS "KEY", CASE WHEN ("ADS"."Feature_2" < 4.75) THEN 1 ELSE CASE WHEN ("ADS"."Feature_2" < 5.149999618530273) THEN 3 ELSE 4 END END AS node_id_2
FROM "INPUT_DATA" AS "ADS"),
"DT_node_data_11" AS
(SELECT "Values".node_id AS node_id, "Values".feature AS feature, "Values".threshold AS threshold, "Values".depth AS depth, "Values".parent_id AS parent_id, "Values"."Score" AS "Score"
FROM (SELECT 0 AS node_id, 'Feature_2' AS feature, 4.75 AS threshold, 0 AS depth, CAST(NULL AS INTEGER) AS parent_id, 0.0 AS "Score" UNION ALL SELECT 1 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 1 AS depth, 0 AS parent_id, -0.06391703337430954 AS "Score" UNION ALL SELECT 2 AS node_id, 'Feature_2' AS feature, 5.149999618530273 AS threshold, 1 AS depth, 0 AS parent_id, 0.0 AS "Score" UNION ALL SELECT 3 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 2 AS depth, 2 AS parent_id, 0.0574050135910511 AS "Score" UNION ALL SELECT 4 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 2 AS depth, 2 AS parent_id, 0.10242962837219238 AS "Score") AS "Values"),
"DT_Output_11" AS

## Execute the SQL Code

In [7]:
# save the dataset in a database table

#engine = sa.create_engine('sqlite://' , echo=False)
engine = sa.create_engine("postgresql://db:db@localhost/db?port=5432", echo=False)
conn = engine.connect()
#conn.execute('drop table INPUT_DATA')
lTable = pd.DataFrame(X);
lTable.columns = ['Feature_0', 'Feature_1', 'Feature_2', 'Feature_3']
lTable['KEY'] = range(lTable.shape[0])
lTable.to_sql("INPUT_DATA" , conn,   if_exists='replace', index=False)

In [8]:
sql_output = pd.read_sql(lSQL , conn);
sql_output = sql_output.sort_values(by='KEY').reset_index(drop=True)
conn.close()

In [9]:
sql_output.sample(12, random_state=1960)

,KEY,Score_0,Score_1,Score_2,Proba_0,Proba_1,Proba_2,LogProba_0,LogProba_1,LogProba_2,Decision,DecisionProba
114,114,None,None,None,0.238787,0.248941,0.512272,-1.432183,-1.390541,-0.668899,2,0.512272
74,74,None,None,None,0.226981,0.538565,0.234453,-1.482887,-0.618846,-1.450500,1,0.538565
9,9,None,None,None,0.554091,0.223020,0.222889,-0.590427,-1.500493,-1.501082,0,0.554091
88,88,None,None,None,0.228278,0.541641,0.230081,-1.477193,-0.613152,-1.469322,1,0.541641
25,25,None,None,None,0.554091,0.223020,0.222889,-0.590427,-1.500493,-1.501082,0,0.554091
5,5,None,None,None,0.554091,0.223020,0.222889,-0.590427,-1.500493,-1.501082,0,0.554091
48,48,None,None,None,0.554091,0.223020,0.222889,-0.590427,-1.500493,-1.501082,0,0.554091
117,117,None,None,None,0.221793,0.231224,0.546982,-1.506009,-1.464367,-0.603339,2,0.546982
83,83,None,None,None,0.207686,0.415291,0.377024,-1.571729,-0.878777,-0.975447,1,0.415291
105,105,None,None,None,0.221793,0.231224,0.546982,-1.506009,-1.464367,-0.603339,2,0.546982
27,27,None,None,None,0.554091,0.223020,0.222889,-0.590427,-1.500493,-1.501082,0,0.554091
64,64,None,None,None,0.228278,0.541641,0.230081,-1.477193,-0.613152,-1.469322,1,0.541641

In [10]:
sql_output.Decision.value_counts()

1    51
0    50
2    49
Name: Decision, dtype: int64

## Scikit-learn Prediction

In [11]:
skl_outputs = pd.DataFrame()
skl_output_key = pd.DataFrame(list(range(X.shape[0])), columns=['KEY']);
skl_output_score = pd.DataFrame(columns=['Score_0', 'Score_1', 'Score_2']);
skl_output_proba = pd.DataFrame(clf.predict_proba(X), columns=['Proba_0', 'Proba_1', 'Proba_2'])
skl_output_log_proba = pd.DataFrame(columns=['LogProba_0', 'LogProba_1', 'LogProba_2'])
skl_output_decision = pd.DataFrame(clf.predict(X), columns=['Decision'])
skl_output = pd.concat([skl_output_key, skl_output_score, skl_output_proba, skl_output_log_proba, skl_output_decision] , axis=1)
skl_output.sample(12, random_state=1960)

,KEY,Score_0,Score_1,Score_2,Proba_0,Proba_1,Proba_2,LogProba_0,LogProba_1,LogProba_2,Decision
114,114,NaN,NaN,NaN,0.238787,0.248941,0.512272,NaN,NaN,NaN,2
74,74,NaN,NaN,NaN,0.226981,0.538566,0.234453,NaN,NaN,NaN,1
9,9,NaN,NaN,NaN,0.554091,0.223020,0.222889,NaN,NaN,NaN,0
88,88,NaN,NaN,NaN,0.228278,0.541641,0.230081,NaN,NaN,NaN,1
25,25,NaN,NaN,NaN,0.554091,0.223020,0.222889,NaN,NaN,NaN,0
5,5,NaN,NaN,NaN,0.554091,0.223020,0.222889,NaN,NaN,NaN,0
48,48,NaN,NaN,NaN,0.554091,0.223020,0.222889,NaN,NaN,NaN,0
117,117,NaN,NaN,NaN,0.221793,0.231224,0.546982,NaN,NaN,NaN,2
83,83,NaN,NaN,NaN,0.207686,0.415291,0.377024,NaN,NaN,NaN,1
105,105,NaN,NaN,NaN,0.221793,0.231224,0.546982,NaN,NaN,NaN,2
27,27,NaN,NaN,NaN,0.554091,0.223020,0.222889,NaN,NaN,NaN,0
64,64,NaN,NaN,NaN,0.228278,0.541641,0.230081,NaN,NaN,NaN,1

## Comparing the SQL and Scikit-learn Predictions

In [12]:
sql_skl_join = skl_output.join(sql_output , how='left', on='KEY', lsuffix='_skl', rsuffix='_sql')

In [13]:
sql_skl_join.sample(12)

,KEY_skl,Score_0_skl,Score_1_skl,Score_2_skl,Proba_0_skl,Proba_1_skl,Proba_2_skl,LogProba_0_skl,LogProba_1_skl,LogProba_2_skl,...,Score_1_sql,Score_2_sql,Proba_0_sql,Proba_1_sql,Proba_2_sql,LogProba_0_sql,LogProba_1_sql,LogProba_2_sql,Decision_sql,DecisionProba
47,47,NaN,NaN,NaN,0.554091,0.223020,0.222889,NaN,NaN,NaN,...,None,None,0.554091,0.223020,0.222889,-0.590427,-1.500493,-1.501082,0,0.554091
58,58,NaN,NaN,NaN,0.228858,0.525042,0.246100,NaN,NaN,NaN,...,None,None,0.228858,0.525042,0.246100,-1.474653,-0.644277,-1.402017,1,0.525042
122,122,NaN,NaN,NaN,0.221793,0.231224,0.546982,NaN,NaN,NaN,...,None,None,0.221793,0.231224,0.546982,-1.506009,-1.464367,-0.603339,2,0.546982
34,34,NaN,NaN,NaN,0.554091,0.223020,0.222889,NaN,NaN,NaN,...,None,None,0.554091,0.223020,0.222889,-0.590427,-1.500493,-1.501082,0,0.554091
26,26,NaN,NaN,NaN,0.554091,0.223020,0.222889,NaN,NaN,NaN,...,None,None,0.554091,0.223020,0.222889,-0.590427,-1.500493,-1.501082,0,0.554091
38,38,NaN,NaN,NaN,0.554091,0.223020,0.222889,NaN,NaN,NaN,...,None,None,0.554091,0.223020,0.222889,-0.590427,-1.500493,-1.501082,0,0.554091
107,107,NaN,NaN,NaN,0.221793,0.231224,0.546982,NaN,NaN,NaN,...,None,None,0.221793,0.231224,0.546982,-1.506009,-1.464367,-0.603339,2,0.546982
2,2,NaN,NaN,NaN,0.554091,0.223020,0.222889,NaN,NaN,NaN,...,None,None,0.554091,0.223020,0.222889,-0.590427,-1.500493,-1.501082,0,0.554091
149,149,NaN,NaN,NaN,0.238787,0.248941,0.512272,NaN,NaN,NaN,...,None,None,0.238787,0.248941,0.512272,-1.432183,-1.390541,-0.668899,2,0.512272
143,143,NaN,NaN,NaN,0.221793,0.231224,0.546982,NaN,NaN,NaN,...,None,None,0.221793,0.231224,0.546982,-1.506009,-1.464367,-0.603339,2,0.546982
98,98,NaN,NaN,NaN,0.228278,0.541641,0.230081,NaN,NaN,NaN,...,None,None,0.228278,0.541641,0.230081,-1.477193,-0.613152,-1.469322,1,0.541641
139,139,NaN,NaN,NaN,0.221793,0.231224,0.546982,NaN,NaN,NaN,...,None,None,0.221793,0.231224,0.546982,-1.506009,-1.464367,-0.603339,2,0.546982

In [14]:
condition = (sql_skl_join.Decision_sql != sql_skl_join.Decision_skl)
sql_skl_join[condition]

Empty DataFrame
Columns: [KEY_skl, Score_0_skl, Score_1_skl, Score_2_skl, Proba_0_skl, Proba_1_skl, Proba_2_skl, LogProba_0_skl, LogProba_1_skl, LogProba_2_skl, Decision_skl, KEY_sql, Score_0_sql, Score_1_sql, Score_2_sql, Proba_0_sql, Proba_1_sql, Proba_2_sql, LogProba_0_sql, LogProba_1_sql, LogProba_2_sql, Decision_sql, DecisionProba]
Index: []

[0 rows x 23 columns]